<div class="container">

	

	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="page-header">
		  <h1>{{book.title}} <small>{{book.industryIdentifiers[0] + ' - ' + book.industryIdentifiers[1]}}</small></h1>
		</div>
	  </div>
	  <div class="panel-body">
	  	<div class="container">
		    <div class="row">
			  <div class="col-xs-6 col-md-3 col-lg-3">
			    <a href="#" class="thumbnail">
			      <img ng-src="{{book.imageLink}}" alt="">
			    </a>
			  </div>
			  <h2>Autor</h2>
			  <h3>{{book.authors}}</h3>
			  <h2>Paginas</h2>
			  <h3>{{book.pageCount}}</h3>
			  <h2>Categorias</h2>
			  <h3>{{book.categories}}</h3>
			</div>
			<div class="row">
				<h2>Descrição</h2>
				<h3>{{book.description}}</h3>
			</div>
		</div>
	  </div>
	</div>
</div>