<div class="container">

	

	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="page-header">
		  <h1>{{book.title}}</h1>
		</div>
	  </div>
	  <div class="panel-body">
	  	<div class="container">
		    <div class="row">
			  <div class="col-xs-12 col-md-12 col-lg-12">
			  	<div class="col-xs-12 col-md-6 col-lg-3 ">
			  		<a href="#" class="thumbnail">
				    	<img ng-src="{{book.imageLink}}" alt="">
				    </a>
			  	</div>
				<div class="col-xs-12 col-md-6 col-lg-9">
					<h3>{{book.industryIdentifiers[0] + ', ' + book.industryIdentifiers[1]}} <small>ISBNs</small></h3>
					<h3>{{book.authors}} <small> Authors</small></h3>
					<h3>{{book.pageCount}} <small> Pages</small></h3>
					<h3>{{book.categories}}<small> Categories</small></h3>
				</div>		

			  </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-12">
					<h2>Descrição</h2>
					<h2><small>	{{book.description}}</small></h2>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>